{{#each this}}
<div class="country_container">
    <div class="country_info">
        <h1 class="country_title">{{name}}</h1>
        <ul class="country_description">
            <li class="country_description_item"> <span class="list_item">Capital:</span> {{capital}}</li>
            <li class="country_description_item"><span class="list_item">Population:</span> {{population}}</li>
            <li class="country_description_item"><span class="list_item">Languages:</span>
                <ul class="languages">
                    {{#each languages}}
                    <li class="language"> {{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <img src={{flag}} alt={{name}} class="country_flag" width="320">
</div>
{{/each}}